:root{
    --background-colour: rgb(0,24,75);
    --background-colour-light: rgb(0, 54, 105);
    --text-colour: rgb(255, 190, 0);
    --button-pressed: #08bdbb;
}

body{
    background-color: var(--background-colour);
    color: var(--text-colour);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* font-family: 'Catamaran', sans-serif; */
    font-family: 'Lemon', sans-serif;
    overflow: hidden;
}

#screens{
    height: 800px;
    width: 800px;
    /* background-color: var(--border-colour); */
    background-color: var(--background-colour);
}

#screens > div{
    display: none;
    height: 100%;
    width: 100%;
}

#screens > .selected{
    display: block;
}

/* MAIN MENU */

#screens > #mainMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.btn{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainMenu .btn:hover{
    background-color: var(--background-colour-light);
}

#mainMenu .btn:active{
    background-color: var(--button-pressed);
}

#mainMenuOptions{
    top: 20px;
    right: 20px;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

#mainMenuOptionsButton{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: var(--background-colour);
}

#mainMenuOptionsButton > div{
    height: 90%;
    width: 90%;
    content: url(images/options.svg);
}

#mainMenuTitle{
    content: url(images/logo.svg);
    height: 130px;
}

#mainMenuButtonsWrapper{
    margin: auto;
    width: 100%;
    position: relative;
}

#mainMenuButtonsWrapper > div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#mainMenuButtonsWrapper > div > div{
    margin-bottom: 20px;
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    border-radius: 30px;
}

#mainMenuButtonsWrapper > .selected{
    display: flex;
}

#mainMenuButtonsWrapper .back{
    position: absolute;
    margin: 0;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#playbackbtn{
    top: 0px;
    left: 150px;
}

#mainMenuButtonsWrapper .back > div, #mainMenuButtonsWrapper .decrease > div, #mainMenuButtonsWrapper .increase > div{
    height: 90%;
    width: 90%;
    content: url(images/back.svg);
}

#mainMenuButtonsWrapper .increase > div{
    transform: rotate(180deg);
}

#mainMenuButtonsWrapper .option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#mainMenuButtonsWrapper .adjNumberInput{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainMenuButtonsWrapper .adjNumberInput > *{
    margin: 0px 5px;
}

#mainMenuButtonsWrapper .adjNumberInput > .btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#mainMenuButtonsWrapper input{
    height: 30px;
    background-color: transparent;
    color: var(--text-colour);
    outline: none;
    border: 2px solid var(--text-colour);
    width: 85px;
    padding: 5px;
    font-family: 'Lemon', sans-serif;
    font-size: 25px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.sliderwrapper{
    height: 30px;
    width: 40%;
    cursor: pointer;
    border: var(--text-colour) 2px solid;
    margin: 5px 0;
    padding: 5px;
}

.slider{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.slidertrolley{
    height: 15%;
    width: 90%;
    background-color: var(--text-colour);
    position: relative;
}

.slidericon{
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: #faf6cb;
}

#mainMenuButtonsWrapper .slidericon{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: calc(50% - 7.5px);
    left: -7.5px;
}

#wordsizelabel{
    width: 20px;
}

#custombackbtn{
    top: -30px;
    left: -30px;
}
